dataset/**/* filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]33 filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]35 filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]43 filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]22 filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]27 filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]15 filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]37 filter=lfs diff=lfs merge=lfs -text
dataset/RAVDESS/Actor_23 filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]14 filter=lfs diff=lfs merge=lfs -text
dataset/RAVDESS/Actor_12 filter=lfs diff=lfs merge=lfs -text
dataset/SAVEE/AudioVisualClip filter=lfs diff=lfs merge=lfs -text
dataset/combined/Neutral filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]26 filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]38 filter=lfs diff=lfs merge=lfs -text
dataset/RAVDESS/Actor_05 filter=lfs diff=lfs merge=lfs -text
dataset/RAVDESS/Actor_07 filter=lfs diff=lfs merge=lfs -text
dataset/combined/Surprised filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]20 filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]21 filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]30 filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]32 filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]4 filter=lfs diff=lfs merge=lfs -text
dataset/RAVDESS/Actor_10 filter=lfs diff=lfs merge=lfs -text
dataset/RAVDESS/Actor_22 filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]6 filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]13 filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]28 filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]29 filter=lfs diff=lfs merge=lfs -text
dataset/RAVDESS/Actor_06 filter=lfs diff=lfs merge=lfs -text
dataset/RAVDESS/Actor_13 filter=lfs diff=lfs merge=lfs -text
dataset/combined/Sad filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]8 filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]24 filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]34 filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]5 filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]7 filter=lfs diff=lfs merge=lfs -text
dataset/RAVDESS/Actor_02 filter=lfs diff=lfs merge=lfs -text
dataset/RAVDESS/Actor_18 filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]42 filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]12 filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]16 filter=lfs diff=lfs merge=lfs -text
dataset/combined/Fearful filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]1 filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]17 filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]23 filter=lfs diff=lfs merge=lfs -text
dataset/RAVDESS/Actor_08 filter=lfs diff=lfs merge=lfs -text
dataset/RAVDESS/Actor_21 filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]3 filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]9 filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]10 filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]18 filter=lfs diff=lfs merge=lfs -text
dataset/RAVDESS/Actor_11 filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]40 filter=lfs diff=lfs merge=lfs -text
dataset/RAVDESS/Actor_03 filter=lfs diff=lfs merge=lfs -text
dataset/RAVDESS/Actor_09 filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]19 filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]36 filter=lfs diff=lfs merge=lfs -text
dataset/RAVDESS/Actor_14 filter=lfs diff=lfs merge=lfs -text
dataset/combined/Happy filter=lfs diff=lfs merge=lfs -text
dataset/combined/Angry filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]2 filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]31 filter=lfs diff=lfs merge=lfs -text
dataset/CREMA-D/VideoFlash filter=lfs diff=lfs merge=lfs -text
dataset/RAVDESS/Actor_15 filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]25 filter=lfs diff=lfs merge=lfs -text
dataset/RAVDESS/Actor_16 filter=lfs diff=lfs merge=lfs -text
dataset/RAVDESS/Actor_20 filter=lfs diff=lfs merge=lfs -text
dataset/RAVDESS/Actor_19 filter=lfs diff=lfs merge=lfs -text
dataset/combined/Disgust filter=lfs diff=lfs merge=lfs -text
dataset/RAVDESS/Actor_17 filter=lfs diff=lfs merge=lfs -text
dataset/RAVDESS/Actor_24 filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]11 filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]39 filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]41 filter=lfs diff=lfs merge=lfs -text
dataset/enterface[[:space:]]database/subject[[:space:]]44 filter=lfs diff=lfs merge=lfs -text
dataset/RAVDESS/Actor_01 filter=lfs diff=lfs merge=lfs -text
dataset/RAVDESS/Actor_04 filter=lfs diff=lfs merge=lfs -text
